{% extends "layout.html" %}


{% block title %}
    Admin dashboard
{% endblock %}



{% block content %}

<h2>Pending Shop Verifications</h2>

<table>
    <thead>
        <tr>
            <th>Shop Name</th>
            <th>Owner</th>
            <th>Username</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for shop in unverified_shops %}
        <tr>
            <td>{{ shop.name }}</td>
            <td>{{ shop.owner_name }}</td>
            <td>{{ shop.user.username }}</td>  <!-- Accessing CustomUser's username -->
            <td>{{ shop.user.email }}</td>
            <td>
                <a href="{% url 'verify_shop' shop.id %}">Review</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
