{% extends 'layout.html' %}

{% block content %}
<h2>Pending Product Requests</h2>

<div class="row">
    {% for product in pending_products %}
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                    <img src="{{ product.image.url }}" class="card-img-top .fixed-card-img" alt="{{ product.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text"><strong>Category:</strong> {{ product.category }}</p>
                    <p class="card-text">{{ product.description }}</p>
                    <p class="card-text text-warning"><strong>Status:</strong> Pending Verification</p>
                </div>
            </div>
        </div>
    {% empty %}
    <div class="alert alert-warning" role="alert">
        No pending Request found
    </div>  
    {% endfor %}
</div>
{% endblock %}
